#t 忽略数据集文件夹
*.so
*.dSYM
*.o
*.a
*.exe
*.dll
models/
data/
data_road/
*.npz
*.zip
*.tar.gz
# pyton
__pycache__/
*.pyc
*.pyo
*.DS_Store

#.swp
#.swo
#.tmp

# 忽略模型权重文件
*.pkl
*.h5
*.ckpt
*.pb
*.onnx
*.pth
*.weights

# 忽略大文件扩展名
*.mp4
*.avi
*.mov
*.swp
