# 忽略bev_lss下的输出文件夹
bev_lss/bev_output
bev_lss/bev_output_half
bev_lss/bev_output_with_annotations
bev_lss/bev_stitch_output
bev_lss/samples_output_with_annotations
bev_lss/bev_vis_results
bev_lss/bev_vis
bev_lss/bev_vis_\345\211\257\346\234\254
bev_lss/bev_vis_\345\211\257\346\234\2542
bev_lss/bev_vis_副本
bev_lss/bev_vis_副本2
bev_lss/bev_vis_副本3
bev_lss/bev_vis_副本4
bev_lss/bev_vis_副本5
bev_lss/bev_vis_副本6
train_all_data_log.txt
train_all_data_log_Epoch.txt
do_nuscenes/bev_frames
do_nuscenes/map_whole_output
do_nuscenes/map_output
do_nuscenes/map_output1
#t 忽略数据集文件夹
*.so
*.dSYM
*.o
*.a
*.exe
*.dll
models/
data/
data_road/
*.npz
*.zip
*.tar.gz
# pyton
__pycache__/
*.pyc
*.pyo
*.DS_Store

#.swp
#.swo
#.tmp

# 忽略模型权重文件
*.pkl
*.h5
*.ckpt
*.pb
*.onnx
*.pth
*.weights

# 忽略大文件扩展名
*.mp4
*.avi
*.mov
*.swp
